<html>
<head>
<style>
	#header {
		background-color: #99ccff;
	}
</style>

    <title> Pass reset </title>
</head>

<body>
    <div id="header">
    Cool Climate
    </div>

<div>
    <form action="{{url "Users.PassResetConfirm"}}"  method="POST">
        <p class="field">
            <!-- <label>Password:</label> -->
            <input type="password" name="password" size="19"/>
        </p>
            <input type="hidden" name="token" value={{.token}} />
            <input type="hidden" name="userID" value={{.id}} />

        <p class="buttons">
            <input type="submit" value="Reset password" />
        </p>
    </form>
</div>
</body>
</html>
